{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="shortcut icon" href="{% static 'img/pic.png' %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">

        <title>Capoeira Ask</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <img src="{% static 'img/logo.svg' %}" width="40" height="40">
                    Capoeira Ask
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Capoeira Search" aria-label="Search">
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Ask!</button>
                    </form>
                </div>
                
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <img class="img-thumbnail" src="{% static 'img/cat2.jpg' %}" width="40" height="40" alt="Avatar">
                    <div class="ml-2 d-flex flex-column">
                        <b class="text-white">Moleque</b>
                        <span>
                            <a href="#" class="badge badge-secondary">settings</a>
                            <a href="#" class="badge badge-secondary">log out</a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="col-sm-4">
                        <div class="container">
                            <div class="row">
                                <div class="mt-5 mb-4 col">
                                    <h2>Popular Tags</h2>
                                    <div>
                                        <a href="#" class="my-1 mx-1 badge badge-secondary"><h4>Jinga</h4></a>
                                        <a href="#" class="my-1 mx-1 badge badge-secondary"><h4>Paranae</h4></a>
                                        <a href="#" class="my-1 mx-1 badge badge-secondary"><h4>Capoeira</h4></a>
                                        <a href="#" class="my-1 mx-1 badge badge-secondary"><h4>cdo</h4></a>
                                        <a href="#" class="my-1 mx-1 badge badge-secondary"><h4>Brazil</h4></a>
                                        <a href="#" class="my-1 mx-1 badge badge-secondary"><h4>Olele</h4></a>
                                        <a href="#" class="my-1 mx-1 badge badge-secondary"><h4>Bahia</h4></a>
                                        <a href="#" class="my-1 mx-1 badge badge-secondary"><h4>Paranae</h4></a>
                                        <a href="#" class="my-1 mx-1 badge badge-secondary"><h4>Jinga</h4></a>
                                        <a href="#" class="my-1 mx-1 badge badge-secondary"><h4>Capoeirando</h4></a>
                                        <a href="#" class="my-1 mx-1 badge badge-secondary"><h4>Jinga</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h2>Best Members</h2>
                                    <div class="d-flex flex-column">
                                        <a href="#" class="text-secondary"><b>Jinga</b></a>
                                        <a href="#" class="text-secondary"><b>Paranae</b></a>
                                        <a href="#" class="text-secondary"><b>Capoeira</b></a>
                                        <a href="#" class="text-secondary"><b>cdo</b></a>
                                        <a href="#" class="text-secondary"><b>Brazil</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>