{% extends 'forum/base.html' %}

{% block content %}
	<div class="my-2">
		{% if sort == "new" %}
			<a class="my-1 btn btn-dark btn-lg active" href="{% url 'index' %}" role="button">New questions</a>
			<a class="my-1 btn btn-dark btn-lg" href="{% url 'hot' %}" role="button">Hot questions</a>
		{% else %}
			<a class="my-1 btn btn-dark btn-lg" href="{% url 'index' %}" role="button">New questions</a>
			<a class="my-1 btn btn-dark btn-lg active" href="{% url 'hot' %}" role="button">Hot questions</a>
		{% endif %}
	</div>
	{% for question in questions %}
		{% include 'forum/includes/post.html' %}
	{% endfor %}
	{% include 'forum/includes/paginating.html' %}
{% endblock %}


  
